/* Variaveis */
:root {
    --branco: #fff;
    --preto: #000000;
    --vermelho: #7a0106;
    --bege: #d1b48c;

    --shadow: rgba(0, 0, 0, 0.468) 0px 5px 15px;
    --fundo: rgba(0, 0, 0, 0.7)
}

/* Fontes */
@font-face {
    font-family: 'TheSunsetBold';
    src: url('../FONTS/Fontspring-DEMO-theseasons-bd.otf') format('opentype');
}

@font-face {
    font-family: 'TheSunsetRegular';
    src: url('../FONTS/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*

    .josefin-sans-<uniquifier> {
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
}

html{
    scroll-behavior: smooth;
    background-color: var(--primaria);
}

button{
    cursor: pointer;
}

/* Estilo para impedir de selecionar imagens e arrastá-las pela tela */
img {
    user-select: none;
    -webkit-user-drag: none;
}

/* Barra de rolagem */
body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--vermelho);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bege);    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
}

/* Animações */
/* Animação 1 - De ladinho*/
.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
    transition: all 1s;
}

/* Animação 2 - De baixo*/

.hidden2 {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
    transition: all 1s;
}

/* Footer */
footer{
    background-color: var(--vermelho);
    padding: 40px 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container-infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    padding-bottom: 40px;
    border-bottom: 2px solid var(--bege);
}

.container-p1,.container-p2{
    width: 50%;
}

.container-p1 h1{
    width: 50%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--bege);
}

.container-p2 p{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: var(--bege);
    width: 100%;
    text-transform: uppercase;

    margin-top: 20px;
}

footer a{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: var(--bege);
    width: 100%;
    text-transform: uppercase;

    transition: 300ms;
}

footer a:hover{
    color: var(--branco);
}


/* Estilos para telas de tablet e maiores */
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }

    footer{
        padding: 40px 40px;
    }

}

/* Estilos para telas de desktop e maiores */
@media (max-width: 1000px) {
    body {
        font-size: 20px;
    }

    .container-infos{
        flex-direction: column;
    }

    .container-p1,.container-p2{
    width: 100%;
    }

    .container-p1 h1{
        width: 100%;
    }
}