@import url("base.css");

/* Inicio */
header {
    background-image: url('../IMG/ImagemFundoInicio.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;

    padding: 40px 110px;
    object-fit: cover;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    height: 700px;
}

nav {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-left: -30px;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.container-textos-inicio {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;

    width: 50%;
}

.container-textos-inicio h1 {
    font-family: 'TheSunsetBold';
    color: var(--bege);
    font-size: 36px;
}

.container-textos-inicio span {
    background-color: var(--vermelho);
}

.container-textos-inicio p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    font-size: 24px;

    color: var(--bege);
}

.button-inicio button {
    background-color: var(--vermelho);
    color: var(--bege);
    border: none;

    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    font-size: 24px;

    padding: 10px 20px;
    margin-top: 20px;

    transition: 300ms;
    box-shadow: var(--shadow);
}

.button-inicio button:hover {
    background-color: var(--bege);
    color: var(--vermelho);
}

/* O QUE OFERECEMOS */
.oferta {
    background-color: var(--vermelho);
    padding: 40px 110px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tittle-oferta {
    font-family: "Josefin Sans", sans-serif;
    color: var(--bege);
    font-size: 36px;
    width: 20%;

}

.container-services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.item-services {
    background-color: var(--bege);
    max-width: 285px;
    height: 450px;
    color: var(--vermelho);
    padding: 30px 20px 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-services img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.item-services h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.item-services p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}

.button-oferta button {
    background-color: var(--bege);
    color: var(--vermelho);
    border: none;

    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    font-size: 22px;

    padding: 10px 20px;

    transition: 300ms;
}

.button-oferta button:hover {
    transform: scale(0.95);
    box-shadow: var(--shadow);
}

/* Processo */
.processo {
    padding: 40px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;

    background-color: var(--bege);
}

.processo h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--vermelho);
}

.processo p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: var(--vermelho);
    width: 50%;
    text-transform: uppercase;
}

.container-processos {
    width: 100%;
    margin-top: 20px;

    flex-wrap: wrap;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.processo-item {
    background-color: var(--vermelho);
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 10px;
    padding: 5px 40px;

}

.processo-item h1,
.processo-item p {
    color: var(--bege);
}

/* Portfólio */
.portfolio {
    background-color: var(--vermelho);
    padding: 40px 110px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.portfolio img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 300ms;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.portfolio-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 300ms;
    filter: saturate(1);
}

.portfolio-grid:hover img {
    filter: saturate(0);
    transform: scale(1);
}

.portfolio-grid img:hover {
    filter: saturate(1);
    transform: scale(1.05);
    z-index: 1;
}

/* Formulário */
.formulario {
    padding: 40px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    background-color: var(--bege);
}

.container-text-formulario {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 40%;
    gap: 10px;

    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    font-size: 22px;

    color: var(--vermelho);
    text-transform: uppercase;
}

.container-text-formulario span {
    color: var(--bege);
    background-color: var(--vermelho);
    padding: 2px;
}

.formulario-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
    width: 100%;
}

.formulario-inputs input {
    width: 100%;
    background-color: transparent;
    color: var(--vermelho);
    border: 2px solid var(--vermelho);

    padding: 13px;
    font-size: 20px;
}

.formulario-inputs input:focus {}

.formulario-inputs input::placeholder {
    color: var(--vermelho);
}

.formulario-inputs button {
    background-color: var(--vermelho);
    color: var(--bege);
    padding: 13px;
    font-size: 20px;
    border: none;

    transition: 300ms;
}

.formulario-inputs button:hover {
    transform: scale(0.95);
    box-shadow: var(--shadow);
}

/* Estilos para telas de tablet e maiores */
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }

    header {
        padding: 40px 40px;
    }

    .oferta {
        padding: 40px 40px;
    }

    .formulario {
        padding: 40px 40px;
    }

    .processo {
        padding: 40px 40px;
    }

    .portfolio {
        padding: 40px 40px;
    }

    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, 1000px));
        gap: 1rem;
    }


}

/* Estilos para telas de desktop e maiores */
@media (max-width: 1000px) {
    body {
        font-size: 20px;
    }

    header {
        max-height: 100vh;
        height: 100%;
        padding-bottom: 70px;
    }

    .container-textos-inicio {
        width: 100%;
    }

    .tittle-oferta {
        width: 50%;
    }

    .item-services {
        max-width: 100%;
        height: 100%;
    }

    .processo p {
        width: 100%;
    }

    .formulario {
        flex-wrap: wrap;
    }

    .container-text-formulario {
        width: 100%;
    }

    .formulario-inputs {
        max-width: 100%;
    }
}